.right {
    float: right;
    display: inline-block;
}

/****************************** JQ UI */


li[role=option] .ui-btn-inner a {white-space:normal!important;}

.ui-header, .ui-footer {
    margin: 0 10px;
    padding: 5px 0;
}

.ui-header .ui-title, .ui-footer .ui-title {
    margin: 0;
    height: 34px;
}

.ui-popup .ui-header {
    border-radius: 0;
    -webkit-border-radius: 0;
}

.ui-popup .ui-title {
    height:auto;
}

.bpm-navbutton, .bpm-navbutton .ui-btn-inner {
    background: none;
    background-image: none;
    border:0;
    outline:0;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    text-shadow: none;

}

.bpm-navbutton .ui-btn-inner {
    height: 36px;
    width: 32px;
    border-radius: 0;
    -webkit-border-radius: 0;
    padding: 0;
    margin: 0 10px;
}

.ui-grid {
    text-align: center;
}

.ui-input-search {
    margin: 10px!important;
    border: 0;
    height: 42px;
}

.ui-input-search input {
    height: 30px;
}


.ui-listview {
    margin-bottom: 10px;
}



.ui-li .ui-btn-text a.ui-link-inherit {
    white-space: normal;
}

.ui-mobile [data-role="page"], .ui-mobile [data-role="dialog"], .ui-page {top: 48px;}

.ui-btn-down-a {
    background: #B50000;
    color: white !important;
}

/****************************** BACKGROUND */

.ui-body-a, .ui-overlay-a {   
  background: #FFF;
  /*       background: rgb(47,53,109); /* Old browsers */
       /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  /*     background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMyZjM1NmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGIwZTJlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
       background: -moz-radial-gradient(center, ellipse cover, rgba(47,53,109,1) 0%, rgba(11,14,46,1) 100%); /* FF3.6+ */
/*       background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(47,53,109,1)), color-stop(100%,rgba(11,14,46,1))); /* Chrome,Safari4+ */
/*       background: -webkit-radial-gradient(center, ellipse cover, rgba(47,53,109,1) 0%,rgba(11,14,46,1) 100%); /* Chrome10+,Safari5.1+ */
/*       background: -o-radial-gradient(center, ellipse cover, rgba(47,53,109,1) 0%,rgba(11,14,46,1) 100%); /* Opera 12+ */
/*       background: -ms-radial-gradient(center, ellipse cover, rgba(47,53,109,1) 0%,rgba(11,14,46,1) 100%); /* IE10+ */
/*       background: radial-gradient(ellipse at center, rgba(47,53,109,1) 0%,rgba(11,14,46,1) 100%); /* W3C */
/*       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f356d', endColorstr='#0b0e2e',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
       
.bglogo {
    width: 80%;
    position: absolute;
    bottom: 3%;
    margin-left: 10%;
}

.ui-bar-a {
    background-image: none;
}

.ui-btn-hover-b, .ui-btn-up-b:hover  {
    background: #b50000!important;
}

.ui-btn-up-b {
    background: transparent;
    background-image: none;
}

.ui-listview-filter {
    background: transparent;
}

.ui-focus,
.ui-btn:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ui-input-text.ui-focus,
.ui-input-search.ui-focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui-btn-active {
    background-image: none;
}

/****************************** HEADER */

.ui-header {
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; 
    /*position:fixed;
    top: 0;
    width: 100%;
    margin:auto;
    z-index:10;*/
}

.back {
    background: url(../img/back_icon.png) no-repeat center center;
    background-size: 32px 33px;
}

.back .ui-btn-text {
    display:none;
}

.back:hover {
    opacity: 0.5;
}

.cart {
    background: url(../img/cart_icon.png) no-repeat center left;
    padding-left: 35px;	
    background-size: 30px 31px;
}

.cart:hover {
    opacity: 0.5;
}

.cart .ui-btn-inner {
    margin: 0; 
    padding:0;
    width: auto;
}

.cart-number {
    font-size: 1.5em;
    line-height: 34px;
    color: white;
    opacity: 0.95;
}

.logo {
    background: url(../img/logo.png) no-repeat center 0;
    background-size: 170px 34px;
    margin: 0 auto;
    text-indent: -9999px;
    height:34px;
}

@media (max-width: 480px) {  
    .logo {
        /* background: url(../img/logo.png) no-repeat center 40%; */
    }
}

/****************************** MENU */

#loginMessage {
    text-align: center;
    margin: 10px;
    color: #ccc;
    margin-top: 25px;
}

.menu-titles {
    z-index: 10;
    position: relative;
}

.menu-titles > a > img:hover  { 
    opacity: 0.5;
}

.menu-titles > a > img {
    max-width: 90px;
}

/*

.menu-titles > a {
        display: block;
        float: left;
        z-index: 10;
        text-decoration: none;	
}

.menuboxtitle {
        display: block;
        width: 100%;
        height: 40px;
        line-height:40px;
        text-align: center;
        position: relative;
        top: -15px;	
        color: white;

}
*/

.search {
    margin-bottom: 15px;
}

#searchInput {

}

.stat_count {
    float: right;
}

.menu-titles {
    
}

.menu-titles a {
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    font-size: 11px;
    color: #054986 !important;
    max-width: 90px;
    vertical-align: top;
}

.menu-titles .menuboxtitle {
    display: block;
    margin-top: 3px;
    margin-bottom: 15px;
    
}

/****************************** CONTENT */

/****************************** PAGES */

.content {

}

/* LOADING */

h2 {
    padding-left:10px;
    text-align: center;
    margin: 10px;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 16px;
    padding:0;

}

h2.loadingmsg {
    padding-bottom: 80px;
    background: url(../img/ajax-loader2.gif) no-repeat center bottom;
}

.btnloader {
    display: none; /* 	display: inline-block; */

    background: url('../img/ajax-loader1.gif') no-repeat center center;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    position: relative;
    top: 2px;
}

/* LOGIN */

#loginbtn {
    margin-top: 30px;
}

/* PRODUCT */

.ui-block-a {
    max-height: 300px;
    overflow: hidden;
}

.ui-block-a img {
    max-width: 100%;
}

.bpm-productdatalist {
    list-style-type: none;
}



.bpm-productlabel {
    padding-bottom:10px;
    padding-left:10px;
    font-size: 1.2em;
    text-align: center;	
}
.bpm-productdata {
    display:block;
    font-size: 1.4em;
}

.bpm-departmentdatalist, 
.bpm-ordersdatalist,
#cartProducts, #bpm-cartselects {
    margin: 0!important;
    margin-top: 30px!important;
}

.kontener .ui-btn-text{
	cursor: default;
}

.bpm-departmentdata, .bpm-orderdata {
    font-weight: bold;
    float:right;
}

#product_name {
    font-size: 20px;
    color: #ccc;
}




/* ORDERS */

#ordersList, #allOrdersList, #productsList {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    list-style-type: none;
}

.backbtn {
    margin-top: 30px;
}

.paramName {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    display:inline-block;
    width: 100%;
}

.paramValue {
    width:40%;
    font-weight: bold;
    float:right;
}

.paramName2 {
    display:inline-block;
    width: 40%;
}

.paramValue2 {
    width:40%;
    display:inline-block;	
    float:right;
    text-align: right;
}

/* CART */

#cartSummary {
    margin: 17px 0;
    text-align: right;
    font-size: 33px;	
}

#cartSummary span {
    min-width: 155px;
    display: inline-block;
}

.kontrolki {
    padding-left: 15px;
    padding-bottom: 10px;	
}

.productcount {
    line-height: 33px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 27px;
    float:left;	
}

.productcountlabel {
    line-height: 33px;
    font-size: 16px;
    float:left;
}

.bpm-productdatalist {
    font-weight: bold;
}

#contactPage .content {
    text-align: center;
    position: relative;
}

/* new */
.productCount {
    width: 250px;
    text-align: center; 
    margin: 0 auto;
}

.productCount div.ui-input-text {
    width: 50px;
    display: inline-block;	
}
.productCount label.ui-input-text {
    width: 146px;
    line-height: 37px;
    display: inline-block;
}


.product_count {
    width: 50px;
    height: 50px;
    background: url("../img/count.png") no-repeat;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: 0;
}

.product_details {
    width: 30%;
    float: left;
}

.product_change_count {
    float: right;
    width: 30%;
    text-align: center;
}

.product_change_count .title {
    font-size: 20px;
}

#contact_table {
    margin: 0 auto;
    font-size: 14px;
    border-collapse: collapse;
    background:none;
}

#contact_table td {
    padding: 10px;
    word-break: break-all;
    vertical-align: middle;
    
}

#contact_table tr + tr td {
    border-top: 1px solid #656680;
   

}

#contact_table td + td {
    text-align: left;
    vertical-align: top;
}

#contact_table h2 {
    margin: 0 0 5px 0;
    font-size: 18px;
    text-align: left;
}

#contact_table a {
    color: #000;
    text-decoration: none;
}

.bpm-remove, .bpm-accept-count {
    margin-top: 10px;
    width: 80px;
    height: 80px;
    display: inline-block;
    background: url("../img/remove_button.png") no-repeat;
    background-size: 80px 80px;
    display: block;
}

.bpm-remove:hover {
    background-image: url("../img/remove_button_hover.png");
}

.bpm-accept-count {
    background-image: url("../img/accept_button.png");
}

.bpm-accept-count:hover {
    background-image: url("../img/accept_button_hover.png");
}

.bpm-cart-remove:hover {
    background: #B10000;
}

.bpm-cart-up:hover, .bpm-cart-down:hover {
    /* background: #3399ff; */
    background: #B10000;
}

#categoriesList li .ui-btn-inner, #subcategoriesList li .ui-btn-inner, #productsList li .ui-btn-inner {
    padding: 10px 0;
}


#pagination  > * {
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    padding: 10px 20px;
    text-decoration: none;
}


#pagination_prev, #pagination_next {
    width: 50px;
    height: 50px;
    background: url("../img/prev_page.png") no-repeat;
    background-size: 50px 50px;
    padding: 0;
}

#pagination_prev:hover {
    background-image: url("../img/prev_page_hover.png");
}

#pagination_next {
    background-image: url("../img/next_page.png");
}

#pagination_next:hover {
    background-image: url("../img/next_page_hover.png");
}

#pagination {
    text-align: center;
    font-size: 22px;
}

#pagination > span {
    color: #ae0000;
}

#pagination a {
    color: white;
}

#pagination a:hover {
    color: #ccc;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

#main_logout {
/*    display: none;*/
}

#main_logout_not_logged {
    float: left;
}

#iframePage {
    text-align: center;
}

#pdfIframe {
    margin: 20px auto 0;
    width: 100%;
    height: 90%;
    border: 1px solid white;   
}

/*************************************
Screen Styles
Screen Name : historyCostSourcesPage
*************************************/
#historyDocumentPage #documentProducts.ui-listview li
{
    border-bottom: 1px solid #222222;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding: 11px 15px; 
}

#historyDocumentPage #documentProducts.ui-listview li,
#historyCostSourcesPage #historyDocumentList.ui-listview li,
#historyDocumentListPage #historyDocumentListA.ui-listview li
{
    margin-left: 25px;
    margin-right: 25px;
}

#historyDocumentPage #documentProducts.ui-listview li span.cell,
#historyCostSourcesPage #historyDocumentList.ui-listview li span.cell,
#historyDocumentListPage #historyDocumentListA.ui-listview li span.cell
{
    display:inline-block;
    width:25%;
    font-weight: normal;
    font-size: 12px;
    font-family: arial;
    vertical-align:middle;	
}

#historyDocumentPage #documentProducts.ui-listview li span.cell.tcenter,
#historyDocumentListPage #documentProducts.ui-listview li span.cell.tcenter
{
    text-align:center;
}

#historyDocumentPage #documentProducts.ui-listview li span.cell.tright,
#historyCostSourcesPage #historyDocumentList.ui-listview li span.cell.tright,
#historyDocumentListPage #historyDocumentListA.ui-listview li span.cell.tright
{
    text-align:right;
}

#historyCostSourcesPage.ui-page div.content div.ui-field-contain ul#historyDocumentList.ui-listview li.ui-btn div.ui-btn-inner span.ui-icon
#historyDocumentListPage.ui-page div.content div.ui-field-contain ul#historyDocumentListA.ui-listview li.ui-btn div.ui-btn-inner span.ui-icon
{
    display:none;
}

#historyCostSourcesPage.ui-page div.content div.ui-field-contain ul#historyDocumentList.ui-listview li.ui-btn div.ui-btn-inner div.ui-btn-text a.bpm-product-button
#historyDocumentListPage.ui-page div.content div.ui-field-contain ul#historyDocumentListA.ui-listview li.ui-btn div.ui-btn-inner div.ui-btn-text a.bpm-product-button
{
    padding-right: 15px;
}

#historyDocumentPage #documentProducts li.header,
#historyDocumentPage #documentProducts li.header:hover,
#historyCostSourcesPage #historyDocumentList li.header,
#historyCostSourcesPage #historyDocumentList li.header:hover,
#historyDocumentListPage #historyDocumentListA li.header,
#historyDocumentListPage #historyDocumentListA li.header:hover
{
    background-color: #E8E8E8 !important;
    border-radius: 5px 5px 5px 5px;
}

#historyDocumentPage #documentProducts li.header span.cell,
#historyCostSourcesPage #historyDocumentList li.header span.cell,
#historyDocumentListPage #historyDocumentListA li.header span.cell
{
    color: #2F3E46;
    font-weight: bold;
    text-align: center;
}

#historyDocumentPage #documentProducts li.header a,
#historyDocumentPage #documentProducts li.header a:hover,
#historyCostSourcesPage #historyDocumentList li.header a,
#historyCostSourcesPage #historyDocumentList li.header a:hover,
#historyDocumentListPage #historyDocumentListA li.header a,
#historyDocumentListPage #historyDocumentListA li.header a:hover
{
    padding-left: 0px;
    padding-right: 0px;
    background-color: #E8E8E8 !important;
}

div.content>table
{
    background-color:#e8e8e8;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

div.content>table th
{
    color: #2F3E46;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
    padding: 11px;
}
