.right {
	float: right;
	display: inline-block;
}

/****************************** JQ UI */

.ui-body-a, .ui-overlay-a {
	background-image: none;
}


/* show full text in select option boxes */
li[role=option] .ui-btn-inner a {white-space:normal!important;}

.ui-header, .ui-footer {
	margin: 0 10px;
	padding: 5px 0;
}

.ui-header .ui-title, .ui-footer .ui-title {
	margin: 0;
	height: 34px;
}

.ui-popup .ui-header {
	border-radius: 0;
	-webkit-border-radius: 0;
}

.ui-popup .ui-title {
	height:auto;
}

.bpm-navbutton, .bpm-navbutton .ui-btn-inner {
	background: none;
	background-image: none;
	border:0;
	outline:0;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
	text-shadow: none;

}

.bpm-navbutton .ui-btn-inner {
	height: 34px;
	width: 32px;
	border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0;
	margin: 0 10px;

}

.ui-grid {
	text-align: center;
}

.ui-input-search {
	margin: 10px!important;
}

.ui-listview-filter {
	background: #222;
}

.ui-li .ui-btn-text a.ui-link-inherit {
	white-space: normal;
}

[data-role="button"]:hover {
/*	opacity: 0.5!important; */
	background-color: #18a88f!important;
	background-image: none!important;
	text-shadow: none!important;
/*	color: white!important; */
}

/*
.ui-btn-hover-a {
	border: 1px solid #333;
}
#cartProducts .ui-btn-hover-a {
	border: 1px solid #bbbbbb;
}

.ui-header .ui-btn-hover-a {
	border: 0px solid #333; 
}
*/

/*
input[type=date]::-webkit-calendar-picker-indicator {
	float: left;
	width: 20px;	
	height: 20px;
	margin-right: 10px;
}
*/
input[type=date]::-webkit-inner-spin-button {
/*	display:none; */
}

/****************************** HEADER */

.ui-header {
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px; 
}

.back {
	background: url(../img/back_icon.png) no-repeat center center;
}

.back .ui-btn-text {
	display:none;
}

.back:hover {
	opacity: 0.5;
}

.cart {
	background: url(../img/cart_icon.png) no-repeat center left;
	padding-left: 30px;	
}

.cart:hover {
	opacity: 0.5;
}

.cart .ui-btn-inner {
	margin: 0; 
	padding:0;
	width: auto;
}

.cart-number {
	font-size: 1.5em;
	line-height: 34px;
	color: white;
	opacity: 0.95;
}

.logo {
	background: url(../img/logo.png) no-repeat center -1px;
	background-size: auto;
	margin: 0 auto;
	text-indent: -9999px;
	height:34px;
}

@media (max-width: 480px) {  
	.logo {
		background: url(../img/logo.png) no-repeat center 40%;
	}
	.menu-titles > a > img {
		max-width: 30%;
	}	
}
/*
@media (max-width: 320px) {  
	.logo {
		background: url(../img/logo.png) no-repeat center 40%;
	}
	.menu-titles > a > img {
		max-width: 45%;
	}	
}
*/ 



/****************************** MENU */

#loginMessage {
	text-align: center;
	margin: 10px;
	color: #ccc;
	margin-top: 25px;
}

.menu-titles > a > img:hover  { /* .menu-titles > a > img:focus */
	opacity: 0.5;
}


/****************************** CONTENT */

/****************************** PAGES */

/* LOADING */

h2.loadingmsg {
	padding-left:10px;
	text-align: center;
	margin: 10px;
	color: #ccc;
	margin-top: 25px;
	font-size: 16px;
	padding:0;
	padding-bottom: 80px;
	background: url(../img/ajax-loader2.gif) no-repeat center bottom;
}

/* LOGIN */

#loginbtn {
	margin-top: 30px;
}

/* PRODUCT */

.ui-block-a {
	max-height: 300px;
	overflow: hidden;
}

.ui-block-a img {
	max-width: 100%;
}

.bpm-productdatalist {
	list-style-type: none;
}

.bpm-productlabel {
	padding-bottom:10px;
	padding-left:10px;
	font-size: 1.2em;
text-align: center;	
}
.bpm-productdata {
	display:block;
	font-size: 1.4em;
}

.bpm-departmentdatalist, 
.bpm-ordersdatalist,
#cartProducts, #bpm-cartselects {
	margin: 0!important;
	margin-top: 30px!important;
}

.bpm-departmentdata, .bpm-orderdata {
	font-weight: bold;
	float:right;
}

#product_name {
	font-size: 20px;
	color: #ccc;
}

#productCount {
	width: 10%;
}


/* ORDERS */

#ordersList {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.paramName {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
	display:inline-block;
	width: 100%;
}

.paramValue {
	width:40%;
	font-weight: bold;
	float:right;
}

.paramName2 {
		display:inline-block;
		width: 40%;
}

.paramValue2 {
	width:40%;
	display:inline-block;	
	float:right;
	text-align: right;
}

/* CART */

#cartSummary {
	margin: 17px 0;
	text-align: right;
	font-size: 33px;	
}

#cartSummary span {
	min-width: 155px;
	display: inline-block;
}

.kontrolki {
	padding-left: 15px;
	padding-bottom: 10px;	
}

.productcount {
	line-height: 33px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 27px;
	float:left;	
}

.productcountlabel {
	line-height: 33px;
	font-size: 16px;
	float:left;
}





