<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.bpmobile"
        version   = "2.4.1">
    <name>Biuro Link</name>

    <description>
        Biuro Link 
    </description>

    <author href="http://maneuver.pl" email="biuro@maneuver.pl">
        Maneuver
    </author>

    <access origin="*biurolink-krakow.pl" browserOnly="true"/> 
    <access origin="*"/>
    
    <feature name="http://api.phonegap.com/1.0/device" />

    <plugin name="WebIntent" value="com.borismus.webintent.WebIntent" />
    <plugin name="File" value="org.apache.cordova.FileUtils" />
    <plugin name="FileTransfer" value="org.apache.cordova.FileTransfer" />

    <preference name="phonegap-version" value="2.5.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="stay-in-webview"  value="false" />
    
    <icon src="img/app_icon.png" />
    
    <gap:splash src="img/welcome.jpg" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="img/welcome.jpg" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="img/welcome.jpg" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="img/welcome.jpg" gap:platform="android" gap:density="xhdpi" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait.png"    gap:platform="ios"     width="320" height="480" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png" gap:platform="ios"     width="640" height="960" />
    <gap:splash src="res/screen/ios/screen-ipad-portrait.png"      gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="res/screen/ios/screen-ipad-landscape.png"     gap:platform="ios"     width="1024" height="768" />
</widget>
